* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body {
    height: 100vh;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    background: #060AB2;
 }
 h1 {
   text-align: center;
   margin: 8px;
   color: rgb(238, 211, 7);
   font-size: 50px
 }
 h2 {
    color: white;
    text-align: center;
    border: 2px solid #0000ff;
    margin: 5px;
    border-radius: 12px;
    padding: 8px;
 }
 .jeopardy-game{
   width: 1011;
   margin: auto;
   display: flex;
   justify-content: center;
   perspective: 1000px;
  
 }
 .who-container {
    display: flex;
    flex-direction: column;
    
   
 }
 .what-container {
    display: flex;
    flex-direction: column;
    
 }
 .where-container {
    display: flex;
    flex-direction: column;
 }
 .when-container {
    display: flex;
    flex-direction: column;
 }
 .jeopardy-card {
    width: 250px;
    height: 180px;
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    color: white;
     background: #1C7CCC;
     border-radius: 5px;

 }
 
 .front-card,
 .back-card {
   width: 100%;
   height: 100%;
   padding: 20px;
   position: absolute;
   border-radius: 5px;
   
   backface-visibility: hidden;
 }
 .jeopardy-card:active {
    transform: scale(0.97);
     transition: transform .2s;
   }
 
  .front-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto Mono', monospace;
   
  }
   .back-card{
    background: #101be8;
    color: #efbd0b;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  
 
   }
   .back-card.flip{
      transform: rotateY(180deg);
      pointer-events: none;
      font-family: 'Roboto Mono', monospace;
     }

    
   h3 {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;

    
   }
 
   button {
    padding: 8px;
    margin-left: 5px;
    font-size: 15px;
    
   }
 
   .buttonOne {
    background-color:#F5E663;
    border-radius: 12px;
    font-family: 'Roboto Mono', monospace;
  
   }

   .buttonTwo {
    background-color: #B744B8;
    border-radius: 12px;
    font-family: 'Roboto Mono', monospace;
    
   }

   .score {
      display: flex;
      justify-content: center;
      background-color: none;
      
   }

   h4 {
      color: white;
      font-size: 30px;
   }

   .correct-answer {
      background-color: rgb(186, 186, 24);
      color: white;
      font-size: 25px;
      text-align: center;
      font-weight: bold;

    }
    
    .wrong-answer {
      background-color: rgb(221, 64, 56);
      color: white;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
    }
    .scoreWindow {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .won {
      color: rgb(241, 226, 11);
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 150px;
      background: rgb(134, 63, 228);
      border-radius: 200px / 100px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
     
    }

    .won:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: vibrate 0.8s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes vibrate {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-1deg); }
}
    
  

 

    