body {
    font-family: 'Signika Negative', sans-serif;
}
#game-container {
    border: 2px solid black;
    display: flex;
    width:800px;
    justify-content: space-around;
   
   
   
}
.card {
    width: 300px;
}
#question {
    padding: 30px;
}
#who-container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    

}
#what-container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}
#where-container {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
#when-container {
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
}
