* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body {
    height: 100vh;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    background: #060AB2;
 }
 h1 {
   text-align: center;
   margin: 8px;
   color: rgb(238, 211, 7);
 }
 h2 {
    color: white;
    text-align: center;
    border: 2px solid blue;
 }
 .jeopardy-game{
   width: 1011;
   margin: auto;
   display: flex;
   justify-content: center;
   perspective: 1000px;
  border: 2px solid red;
 }
 .who-container {
    display: flex;
    flex-direction: column;
   
 }
 .what-container {
    display: flex;
    flex-direction: column;
    
 }
 .where-container {
    display: flex;
    flex-direction: column;
 }
 .when-container {
    display: flex;
    flex-direction: column;
 }
 .jeopardy-card {
    width: 250px;
    height: 180px;
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    color: white;
     background: #1C7CCC;
     border-radius: 5px;

 }
 
 .front-card,
 .back-card {
   width: 100%;
   height: 100%;
   padding: 20px;
   position: absolute;
   border-radius: 5px;
   
   backface-visibility: hidden;
 }
 .jeopardy-card:active {
    transform: scale(0.97);
     transition: transform .2s;
   }
 
   /* .jeopardy-card.flip {
     transform: rotateY(180deg);
     pointer-events: none;
   } */
 
   /* .front-card.flip {
     /* transform: rotateY(180deg);
     pointer-events: none; */
     
   
  */

 .divButtons {
   pointer-events: auto;
   z-index: 1;
 }
   .back-card{
    background: #101be8;
    color: rgb(239, 189, 11);
    font-size: 32px;
    text-align: center;
    font-weight: bold;
  
 
   }
   .back-card.flip{
      transform: rotateY(180deg);
      pointer-events: none;
     }

   h3 {
    font-size: 24px;
    margin-bottom: 15px;
   }
 
   button {
    padding: 5px;
    margin-left: 5px;
    font-size: 15px;
   }
 
   .buttonOne {
    background-color: rgb(64, 225, 64);
   }
 
   .buttonTwo {
    background-color: rgb(241, 87, 87);
   }

   .score {
      border: 2px solid red;
      display: flex;
      justify-content: center;
   }